{% extends "base.html" %}
{% block content %}
<div class="container row">
	<form class="forms" method="post">
		<ul class="multicolumn">
			<li class="width-80">
				<label class="bold">Profile URL</label>
				<input
					class="{% if error %}input-error{% endif %}"
					type="url"
					name="register_url"
					placeholder="http://your-domain/profile.json"
					{% if register_url %}value="{{ register_url }}"{% endif %}
					size="40">
			</li>				
			<li class="width-20">
				<label class="bold">&nbsp;</label>
				<input type="submit" class="btn">
			</li>
		</ul>
		{% if error %}<span class="error">{{ error }}</span>{% endif %}
	</form>
</div>	
{% endblock %}