{% extends "profile.html" %}
{% block title %}{{ content["title"] }} ⇠ {{ super() }}{% endblock %}
{% block profile_content %}
<ul class="posts">
{% for key in content["content"] %}
  <li class="post">
  	<small>{{ content["content"][key]["created"] }}</small>
  	{{ content["content"][key]["content"]|safe }}
  	<small>
  		<a
  			href="http://{{ profile["settings"]['id'] }}.{{ config["SERVER_NAME"] }}/{{ contentkey }}/{{content["content"][key]["key"]}}#disqus_thread"
  			data-disqus-identifier="{{ content["content"][key]["key"] }}"
  		>&nbsp;</a>
  	</small>
  </li>
{% endfor %}
</ul>
<script type="text/javascript">
var disqus_shortname = '{{ profile["settings"]["disqus_shortname"] }}';
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endblock %}